.navbar{
    background: rgb(30,30,30);
    height: 1rem;
    width: 100vw;
    margin: 0 auto;
    max-width: 75rem;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}
.destopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuBtn{
     background:rgb(238, 235, 235);
     color: #0e0e0e;
     height: 3rem;
     width:10%; 
     border-radius: 2rem;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 1rem;

}
.destopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;


}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
/* .desktopMenuImg{
    object-fit: cover;
    height: 3rem;
    width:10%;
} */