#intro{
    height: calc(100vh - 4rem);
    width: 100;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}
.introContent{
    height: 100vh;
    width: 70vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: yellow;
}
.introPara{
    font-size: medium;
    font-weight:400 ;
    letter-spacing: 1px;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 10rem 10 rem;
    border: none;
    border-radius: 2rem;
    width: 20%;
    height: 55px;

    text-align: center;
}

.btn img{
    width: 20%; 
    object-fit: cover;
     margin: 0 0.25rem; 
    height: 1.2rem;
}
@media screen and (max-width:840px) {
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 2.5vw;
    }
    .btn{
        background: white;
        margin: 1rem 0;
        padding: 10rem 10 rem;
        border: none;
        border-radius: 2rem;
        width: 40%;
        height: 55px;
    
        text-align: center;
    }
    
}
@media screen and (max-width:480px) {
    bg{
        right: -10vw;
    }
    .introContent{
        font-size: 5vw;
    }
    .hello{
        font-size: 2.5vw;
    }
    .btn{
        background: white;
        margin: 1rem 0;
        padding: 10rem 10 rem;
        border: none;
        border-radius: 2rem;
        width: 60%;
        height: 55px;
    
        text-align: center;
    }

}